* {
    margin: 0;
    padding: 0%;
    box-sizing: 0;
    font-family: 'DM Sans';
    font-family: 'Raleway';
}
body{
    overflow-x: clip;
    background-color: #000024;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 12vh;
    background-color: #000024;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin: auto;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    /* font-weight: bold; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

button {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #000066;
    margin-right: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 196px;
    height: 48px;
    background-color: #CCCCE0;
    border-radius: 24px;
    justify-content: center;
}

.yellow-effect:hover {
    background-color: #FFBE0B !important;
}

.opacity-effect:hover {
    background-color: #6e6e9e27 !important;

}
.more:hover{
    background-color: #00388D !important;
    border-color: #b0cdf9 !important;
    border-radius: 24px;

}

.more:hover .vectors{
    /* color: #00388D !important;  */
    /* background-color: #fff; */

}
.more:hover .vectors img{
    fill: green; 
    

}
svg:hover{
    fill: #00388D;
}
.vectors img{
    fill: #00388D;
}


nav .logo {
    margin-left: 5%;
}

.part-1 {
    width: 100%;
    background-color: #000024;
    height: 110vh;
}

.part-1 h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10%;
}

.dev {
    color: #FFBE0B;
}

.part-1 p {
    font-family: 'DM Sans';
    font-style: small;
    font-weight: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B0B0D0;
    padding-top: 2%;

}

.primary {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 3%;
    /* font-family: 'DM Sans';
    font-style: normal;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 170px;
    height: 30px;
    background: #CCCCE0;
    border-radius: 24px;
    margin: auto;
    justify-content: center;
    font-size: 14px;
    margin-top: 2%;
    color: #000066; */



}

a {
    text-decoration: none;
}

.part-1 .num {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 3%;
    text-align: justify;
}

.value {
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.hundred {
    text-align: justify;


}

.hundred p {
    display: flex;
    text-align: justify;
    font-size: 16px;

}

.part-2 {
    background-color: #000024;
    width: 100%;
    height: auto;
    padding-top: 10%;
}

.second {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.part-2 .about {
    width: 40%;
    padding-top: 5%;
}

.part-2 h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
}

.part-2 p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #D9D9E8;
    padding-top: 3%;
}

.part-2 .learn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #000066;
    margin-right: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 134px;
    height: auto;
    background-color: #CCCCE0;
    border-radius: 24px;
    justify-content: center;
    margin-top: 7%;


}

.part-2 .pics-2 {
    width: 40%;
    position: relative;
    background: linear-gradient(90deg, rgba(0, 94, 235, 0), rgba(1, 18, 67, 1));
    z-index: 1;height: 40vh;
    /* outline: 2px solid white; */
}

.row-parent {
    display: flex;
    /* outline: 2px solid red; */
    position: relative;
    width: 100%;
    max-width: 486px;
    height: auto;
    flex-direction: row;
}

.row-parent img {
    width: 100%;
    padding: 8px;
}

.row-parent .col-1 {
    padding-right: 16px;
}

/* .row-2 {
    display: flex;
    position: relative
} */

/* .img-1 {
    width: 216px;
    height: 272px;
    outline: 2px solid red;
}

.img-1 img {
    max-width: 100%;
}
.img-2 {
    width: 216px;
    height: 136px;
    outline: 2px solid blue;
}

.img-2 img {
    max-width: 100%;
}
.img-3 {
    width: 216px;
    height: 136px;
    outline: 2px solid yellow;
}

.img-3 img {
    max-width: 100%;
}
.img-4 {
    width: 216px;
    height: 272px;
    outline: 2px solid green;
}

.img-4 img {
    max-width: 100%;
} */



.part-3 {
    background-color: #000024;
    width: 100%;
    margin: auto;
    /* flex-direction: column; */
    height: 800px;
    padding-top: 10%;
    position: relative;
    /* height: 140vh; */
    /* background-image: url(/assets/Ellipse\ 1.png);  */
}

.border {
    border: 1px solid #b0cdf9;
    border-radius: 20px;
    height: 700px;
    width: 90%;
    margin: auto;
}

.many {
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* text-align: justify; */
    margin: auto;
    /* justify-content: center; */
}

.why-choose-us {
    margin-bottom: 68px;
}

.part-3 .more {
    width: 45%;
    text-align: left;
    margin: auto;
    /* padding-top: 5%; */
    margin-top: 10px;
    margin-bottom: 20px;
    height: 170px;
    margin-right: 5%;
    margin-left: 20px;
    margin-right: 20px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;

}

.part-3 h3 {
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin-top: 5%;

}

.part-3 p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #B0B0D0;
    padding-left: 10px;
}

.part-3 .me {
    color: #fff;
    padding-left: 10px;


}

.part-3 .circle {
    position: absolute;
    left: 15%;
    top: 25%;
    opacity: 0.5;
    width: 70%;
    z-index: 1;


}

.circle img {
    float: left;
    margin: auto 5px;
    height: 80vh;
    width: 100%;


}

.me {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.part-3 .vectors {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
    width: 36px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;

}

.part-3 .vectors img {
    width: 100;
}

.part-4 {
    width: 100%;
    background-color: #000024;
    height: 185vh;
    position: relative;

}

.part-4 h4 {
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    padding-top: 3%;
}

.box-one {
    background-image: url(/assets/Cards\ \(3\).png);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    width: 90%;
    margin: auto;
    height: 70vh;
    background-color: rgba(29, 161, 242, 0.2);
    box-shadow: inset 0px 2px 10px #FFFFFF;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    margin-top: 4%;
}

.software {
    width: 40%;
    margin-top: 7%;
    margin-left: 3%;
}

.software p {
    color: #D9D9E8;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-top: 3%;
}

.software .so {
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

}

.software .start {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 25%;
    justify-content: center;
    height: 7%;
    background: #CCCCE0;
    border-radius: 24px;
    margin-top: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000066;
}

.tele {
    margin-top: 2px;
    width: 40%;
    left: 60%;
    position: absolute;
}

.tele img {
    width: 100%;
}

.box-two {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 0%;
    /* outline: 2px solid red; */
    height: 180vh;
    margin-top: 5%;


}

.train {
    background: rgba(29, 161, 242, 0.2);
    box-shadow: inset 0px 2px 15px #FFFFFF;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    width: 50%;
    height: 70vh;
    margin-right: 5%;
    /* outline: 2px solid red; */
}

.work {
    background: rgba(29, 161, 242, 0.2);
    box-shadow: inset 0px 2px 15px #FFFFFF;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    width: 50%;
    height: 70vh;
}

.ellip {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 20%;

}

.ellip img {
    width: 100%;
    height: 100vh;
}

.box-two p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #D9D9E8;
    margin-left: 6%;
    margin-top: 3%;
}

.box-two .co {
    margin-left: 6%;
    margin-top: 10%;
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.tran {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 20%;
    justify-content: center;
    height: 7%;
    background: #CCCCE0;
    border-radius: 24px;
    margin-top: 7%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000066;
    margin-left: 6%;


}

.visit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 20%;
    justify-content: center;
    height: 7%;
    background: #CCCCE0;
    border-radius: 24px;
    margin-top: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000066;
    margin-left: 6%;
}

.part-5 {
    background-color: #000024;
    width: 100%;
    height: auto;
    position: relative;

}

.part-5 .students {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 5%;
}

.part-5 .no {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    color: #D9D9E8;
    margin-top: 20px;
}

.part-5 .big {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #fff;
    margin-top: 20px;
}

.child {
    width: 45%;
    margin-right: 7%;

}

.child img {
    width: 100%;
}

.blog {
    width: 45%;
}

.part-5 h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5%;
}

.tiny {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFBE0B;
}

.part-5 .read {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 88px;
    justify-content: center;
    height: 5%;
    background: #000024;
    border-radius: 24px;
    margin-top: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #CCCCE0;
    border: 1px solid #CCCCE0;

}

.part-5 .lp {
    width: 30%;
    position: absolute;
    height: 20%;
    top: -76%;
    left: 49.8%;
    z-index: 1;
}

.part-5 .lp img {
    width: 100%;
    z-index: -1;
}

.recent {
    width: 100%;
    background-color: #000024;
    height: 120vh;
    padding-bottom: 5%;


}

.recent h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    display: block;
    width: 60%;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 0%;
}

.multiple {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.head {

    width: 95%;

}

.head img {
    width: 100%;
}

.recent .logy {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFBE0B;
    margin-top: 20px;
}

.recent .log {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 20px;
}

.recent .pop {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

.recent .suya {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 88px;
    justify-content: center;
    height: 5%;
    background: #000024;
    border-radius: 24px;
    margin-top: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #CCCCE0;
    border: 1px solid #CCCCE0;
}

.last {
    padding-top: 5%;
    width: 100%;
    height: 40vh;
    background-color: #000024;
    border-top: 1.5px solid rgba(255, 255, 255, 0.5);

}

.foot {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: ;
}

.foot-one {
    width: 40%;
    display: block;
    background-color: #000024;

}

.foot-one p {
    color: #fff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;

}

.socials {
    width: 30%;
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
    ;
}

.foot-two {
    width: 20%;
    padding-left: 0%;

}

.foot-two p {
    color: #fff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

}

.email {
    color: #fff;
    display: flex;
    padding-top: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;



}

.phone {
    color: #fff;
    display: flex;
    padding-top: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;


}

.map {
    color: #fff;
    display: flex;
    padding-top: 16px;
    padding-right: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

}

.foot-two .all {
    padding-right: 16px;
}

.foot-three {
    width: 40%;
    padding-left: 10%;
}

.foot-three p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.foot-three .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 26px;
    gap: 8px;
    width: 25%;
    justify-content: center;
    height: 10%;
    background: #CCCCE0;
    border-radius: 24px;
    margin-top: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #000066;

}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
}


.ml4 .letters {
    position: absolute;
    margin: auto;
    /* left: 0; */
    bottom: 0em; 
    /* left: 0;  */
    opacity: 0;
}
.move{
    display: block;
    margin-left: 10%;
    
    width: 60%;
}



@media screen and (max-width: 1000px) {
    * {
        margin: 0;
        padding: 0%;
        box-sizing: 0;
        font-family: 'Poppins', sans-serif;
    }

    body,
    html {
        /* overflow-x: hidden; */
        padding: 0;
    }

    nav {
        display: none;
    }

    .part-1 {
        height: auto;
        margin: auto;
    }

    .part-1 h1 {
        width: 90%;
        font-weight: 50;
        font-size: 40px;
        margin: auto;
        line-height: 60px;
    }

    .part-1 p {
        width: 80%;
        margin: auto;
        font-size: 12px;
    }

    .part-1 .num {
        width: 50%;
        padding-right: 40px;
        display: grid;
        margin: auto;
        margin-top: 3%;
        padding-bottom: 8%;
        gap: 8px;
        grid-template-columns: repeat(2, 2fr);
    }

    .hundred {
        margin-right: 30px;
    }

    .part-2 {
        padding-top: 2%;
    }

    .part-2 p {
        font-size: 12px;
    }

    .second {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .part-2 .about {
        width: 90%;
        margin: auto;
        padding: 0;
        padding-top: 5%;
    }

    .part-2 .pics-2 {
        width: 90%;
        padding-top: 10%;
        margin-bottom: 10%;
        margin: auto;
    }

    .row-1 {
        display: block;
        /* flex-direction: column; */
    }

    .row-2 {
        display: block;
    }

    .part-2 .h2 {
        font-weight: 100;
        padding-top: 13%;
    }

    .part-2 .learn {
        width: 80%;
        display: flex;
        justify-content: center;
    }

}